 <kendo-grid style="padding: 4rem"
                [data]="gridData"
                [filter]="filter"
                filterable="menu"
                (filterChange)="filterChange($event)"
                [height]="400"
            >
            <kendo-grid-column field="ProductName" title="Product Name">
            <ng-template kendoGridFilterMenuTemplate
            let-column="column"
            let-filter="filter"
            let-filterService="filterService"
            >
           <mat-form-field>
              <input matInput placeholder="Product Name" [(ngModel)]="viewFilter.product" (keyup)="productChange($event, filter, filterService)">
            </mat-form-field>         
          </ng-template>
  
            </kendo-grid-column>
            <kendo-grid-column field="UnitPrice" title="Unit Price" [width]="130" format="{0:c}" filter="numeric">
            </kendo-grid-column>
            <kendo-grid-column field="CategoryID" title="Category" [width]="180">
                <ng-template kendoGridFilterMenuTemplate
                    let-column="column"
                    let-filter="filter"
                    let-filterService="filterService"
                    >
                    <kendo-multiselect
                        style="width: 220px"
                        [data]="categories"
                        textField="CategoryName"
                        valueField="CategoryID"
                        [valuePrimitive]="true"
                        [value]="filter | filterValues"
                        (valueChange)="categoryChange($event, filterService)"
                        >
                    </kendo-multiselect>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.Category?.CategoryName}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Discontinued" [width]="160" filter="boolean">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
